<div class="row">

    <div class="col-4">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Usuarios</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nombre</th>
                            <th>
                                <button class="btn btn-primary"> <i class="fa fa-edit" ></i> </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td scope="row"> <img [src]="usuario.img | imagen" class="img-50" alt=""> </td>
                            <td>{{ usuario.nombre }}</td>
                            <td>
                                <a [routerLink]="['/usuarios']" class="btn btn-primary"> <i class="fa fa-edit"></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Medico</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nombre</th>
                            <th>
                                <button class="btn btn-primary"> <i class="fa fa-edit" ></i> </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let medico of medicos">
                            <td scope="row"> <img [src]="medico.img | imagen:'medico'" class="img-50" alt=""> </td>
                            <td>{{ medico.nombre }}</td>
                            <td>
                                <a [routerLink]="['/medico',medico._id]" class="btn btn-primary"> <i class="fa fa-edit"></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Hospitales</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nombre</th>
                            <th>
                                <button class="btn btn-primary"> <i class="fa fa-edit" ></i> </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td scope="row"> <img [src]="hospital.img | imagen:'hospital'" class="img-50" alt=""> </td>
                            <td>{{ hospital.nombre }}</td>
                            <td>
                                <a [routerLink]="['/hospitales']" class="btn btn-primary"> <i class="fa fa-edit"></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


</div>